/home/dell/interactive-scene-graphs/xtras/open_close_prediction/Cabinets_Closed
/home/dell/interactive-scene-graphs/xtras/open_close_prediction/Cabinets_Open
/home/dell/interactive-scene-graphs/xtras/open_close_prediction/Drawers_Open
/home/dell/interactive-scene-graphs/xtras/open_close_prediction/Fridge_Closed
/home/dell/interactive-scene-graphs/xtras/open_close_prediction/Fridge_Open
/home/dell/interactive-scene-graphs/xtras/open_close_prediction/Microwave_Closed
/home/dell/interactive-scene-graphs/xtras/open_close_prediction/ilsvrc2012_wordnet_lemmas.txt
